@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box ;
}

/* INICIO ESTILOS HEADER */

header {
    background-color:  rgb(211, 181, 49);
    width: 100%;
    position: fixed;
    z-index: 1;
}

.encabezado {
    width: 100%;
    display: grid;
    grid-template-rows: 120px 30px;
}

.titulo {
    font-family: 'Luckiest Guy', cursive;
    align-self: center;
    justify-self: center;
    font-size: 55px;
    color: rgb(95, 26, 26);
}

.listas {
   list-style-type: none;  
   text-align: center;
   background-color: rgb(95,26, 26);
   margin: 0;
   padding: 0;
}

.lista {
    display: inline-block;
}

.menu {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    transition: 1s;
    padding: 6px 20px 6px 20px;
}

.menu:hover {
    color: rgb(95,26, 26);
    background-color: white;
    border-radius: 5px;  
}
/* FIN ESTILOS HEADER */

/* INICIO ESTILOS FOOTER */

footer {
    width: 100%;
}

.contFoot {
    width: 100%;
    background-color:  rgb(211, 181, 49);
    margin-bottom: 0;
    display: grid;
    grid-template-rows: 50px 50px 30px;
}

.redes {
    height: 30px;
    text-align: center;
    align-self: center;
    padding-top: 7px;
    background-color:  rgb(211, 181, 49);
    color: rgb(95,26, 26);
}

.iconos {
    height: 70px;
    text-align: center;
    align-self: center;
    padding-top: 10px;
    background-color:  rgb(211, 181, 49);
}

.icon {
    width: 40px;
    height: 40px;
    filter: invert(10%) sepia(57%) saturate(3353%) hue-rotate(346deg) brightness(95%) contrast(93%);
}

.copy {
    background-color: rgb(124, 34, 34);
    color: white;
    height: 30px;
    text-align: center;
    align-self: center;
}

/* FIN ESTILOS FOOTER */

/* INICIO ESTILOS MAIN */

main {
    width: 100%;
    padding-top: 150px;
    background-color: rgb(207, 233, 241);
}

/*ARCHIVO INDEX */

.contenedor1 {
    margin-top: 90px;
    display: flex;
    width: 100%;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: auto auto;
}

.contenedor2 {
    margin-top: 90px;
    display: flex;
    width: 100%;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: auto auto;
}

.interna1 {
    width: 320px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 8px 5px 0px rgb(92,92,92);
    transition: transform 1s;
    justify-self: center;

}

.interna2 {
    width: 320px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 8px 5px 0px rgb(92,92,92);
    transition: transform 1s;
    justify-self: center;
}

.interna3 {
    width: 320px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 8px 5px 0px rgb(92,92,92);
    transition: transform 1s;
    justify-self: center;
}

.interna4 {
    width: 320px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 8px 5px 0px rgb(92,92,92);
    transition: transform 1s;
    justify-self: center;
}

.interna1:hover {
    transform: scale(1.03);
}

.interna2:hover { 
    transform: scale(1.03);
}

.interna3:hover {
    transform: scale(1.03);
}

.interna4:hover {
    transform: scale(1.03);
}

.subTitulo {
    padding: 15px 30px 15px 30px;
    color: rgb(88, 88, 88);
}

.parrafo {
    padding: 5px 30px 20px 30px;
    color: rgb(88, 88, 88);
}

.contBebidas {
    text-align: center;
}

.bebidas {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 30px;
    color: rgb(80, 80, 80);
}

.pBebidas {
    text-align: center;
    padding-bottom: 30px;
    color: rgb(88, 88, 88);
}

.hamb {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.imgBebidas {
    border-radius: 10px;
    margin-bottom: 50px;
}

/* ARCHIVO CONTACTO */

.form {
    padding-bottom: 30px;
}

.contacto {
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
   font-size: 30px;
   color: rgb(80, 80, 80);
}

.pContacto {
    text-align: center;
    padding-bottom: 25px;
    color: rgb(88, 88, 88);
}

.formulario {
    width: 300px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 1.5px solid gray;
    border-radius: 5px;
}

.input {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 257px;
    padding-left: 3px;
}

.label {
    font-size: 14px;
    color: rgb(88, 88, 88);
}

.enviar {
    background-color:  rgb(211, 181, 49);
    height: 24px;
    width: 257px;
    text-align: center;
}

.enviar:hover {
    cursor: pointer;
}

/* ARCHIVO NOSOTROS */

.nosotros {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: rgb(80, 80, 80);
}

.pNosotros {
    text-align: center;
    padding-bottom: 25px;
    color: rgb(88, 88, 88);
    padding-left: 20px;
    padding-right: 20px;
}

.todo {
    display: grid;
    width: 100%;
}

.slide {
    width: 400px;
    justify-self: center;
}

.d-block {
    border-radius: 50%;
}

.carousel-control-prev-icon { 
    background-color:  rgb(211, 181, 49);
    border-radius: 50%;
}

.carousel-control-next-icon { 
    background-color:  rgb(211, 181, 49);
    border-radius: 50%;
}

.mision {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 30px;
    color: rgb(88, 88, 88);
}

.pMision {
    text-align: center;
    padding-bottom: 25px;
    color: rgb(88, 88, 88);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
}

/* ARCHIVO DELIVERY */

.h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: rgb(80, 80, 80);
}

.pH2 {
    text-align: center;
    padding-bottom: 25px;
    color: rgb(88, 88, 88);
}

.imgPedidos {
    text-align: center;
}

.fotoPedido {
    border-radius: 10px;
}

.texto {
    text-align: center;
    padding-top: 25px;
}

.contBoton {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.botonPedido {
    background-color:  rgb(211, 181, 49);
    height: 26px;
    width: 120px;
    cursor: pointer;
}

/* ARCHIVO LOCALES */

.local {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: rgb(80, 80, 80);
}

.pLocal {
    text-align: center;
    padding-bottom: 25px;
    color: rgb(88, 88, 88);
}

.contMapa {
    text-align: center;
    padding-bottom: 30px;
}

.mapa {
    border-radius: 10px;
}

/* FIN ESTILOS MAIN */

/* INICIO ESTILOS RESPONSIVE. DISPOSITIVO TABLET */

@media(max-width: 768px) {   
    .contenedor1 {
        margin-top: 90px;
        display: grid;
        width: 100%;
        margin-bottom: 90px;
        grid-template-columns: auto auto;
    }
    
    .contenedor2 {
        margin-top: 90px;
        display: grid;
        width: 100%;
        margin-bottom: 90px;
        grid-template-columns: auto auto;
    }
    
    .interna1 {
        width: 240px;
        background-color: white;
        text-align: center;
        margin-left:80px ;
        border-radius: 10px;
        box-shadow: 5px 8px 5px 0px rgb(92,92,92);
        transition: transform 1s;
    }
    
    .interna2 {
        width: 240px;
        background-color: white;
        text-align: center;
        margin-left: 40px;
        border-radius: 10px;
        box-shadow: 5px 8px 5px 0px rgb(92,92,92);
        transition: transform 1s;
    }
    
    .interna3 {
        width: 240px;
        background-color: white;
        text-align: center;
        margin-left:80px ;
        border-radius: 10px;
        box-shadow: 5px 8px 5px 0px rgb(92,92,92);
        transition: transform 1s;
    }
    
    .interna4 {
        width: 240px;
        background-color: white;
        text-align: center;
        margin-left: 40px;
        border-radius: 10px;
        box-shadow: 5px 8px 5px 0px rgb(92,92,92);
        transition: transform 1s;
    }

    .hamb {
        width: 240px;
        height: 240px;
    }
    
    .interna1:hover {
        transform: scale(1.03);
    }
    
    .interna2:hover { 
        transform: scale(1.03);
    }
    
    .interna3:hover {
        transform: scale(1.03);
    }
    
    .interna4:hover {
        transform: scale(1.03);
    }
    
    .subTitulo {
        padding: 15px;
        color: rgb(88, 88, 88);
    }
    
    .parrafo {
        padding: 15px;
        color: rgb(88, 88, 88);
    }
}

/* DISPOSITIVO MOVIL */

@media(max-width: 350px) {
    .encabezado {
        grid-template-rows: 90px 30px;
    }
    
    .titulo {
        font-size: 30px;
    }
    
    .lista {
        font-size: 12px;
    }
    
    main {
        padding-top: 120px;
    }
    
    .contFoot {
        grid-template-rows: 40px 40px 20px;
    }
    
    .redes {
        font-size: 12px;
    }

    .icon {
        width: 30px;
        height: 30px;
    }
    
    .copy {
        color: white;
        height: 30px;
    }

    .copyText{
        font-size: 10px;
    }

    
    /*ARCHIVO INDEX */
    
    .contenedor1 {
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        ;
    }
    
    .contenedor2 {
        margin-top: 0px;
        display: grid;
        margin-bottom: 90px;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    
    .hamb {
        width: 200px;
        height: 200px;
    }
    .interna1 {
        width: 200px;
        justify-self: center;
        margin-left: 0;
    }
    
    .interna2 {
        width: 200px;
        margin-top: 50px;
        justify-self: center;
        margin-left: 0;
    }
    
    .interna3 {
        width: 200px;
        justify-self: center;
        margin-left: 0;
    }
    
    .interna4 {
        width: 200px;
        margin-top: 50px;
        justify-self: center;
        margin-left: 0;
    }
    
    .subTitulo {
        padding: 13px;
        font-size: 20px;
    }

    .parrafo {
        padding: 13px;
        padding-top: 8px;
        font-size: 13px;
    }
    
    .bebidas {
        font-size: 20px;
    }
    
    .pBebidas {
        font-size: 14px;
    }
    
    .imgBebidas {
        width: 260px;
        height: 260px;
    }

    /*ARCHIVO CONTACTO */

.form {
    padding-bottom: 30px;
}

.contacto {
   padding-top: 50px;
   font-size: 22px;
}

.pContacto {
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.formulario {
    width: 260px;
}

.input {
    width: 220px;
}

.label {
    font-size: 13px;
}

.enviar {
    width: 220px;
}

/*ARCHIVO NOSOTROS */

.nosotros {
    padding-top: 50px;
    font-size: 22px;
}

.pNosotros {
    font-size: 16px;
}

.slide {
    width: 280px;
}

.mision {
    font-size: 22px;
}

.pMision {
    font-size: 16px;
}

/*ARCHIVO DELIVERY */

.h2 {
    padding-top: 50px;
    font-size: 22px;
}

.pH2 {
    font-size: 16px;
}

.fotoPedido {
    width: 280px;
    height: 280px;
}

.texto {
    font-size: 15px;
}

.contBoton {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.botonPedido {
    background-color:  rgb(211, 181, 49);
    height: 26px;
    width: 120px;
    cursor: pointer;
}

/*ARCHIVO LOCALES */

.local {
    padding-top: 50px;
    font-size: 22px;
}

.pLocal {
    font-size: 15px;
}

.mapa {
    width: 280px;
    height: 280px;
}
}

/* FIN ESTILOS RESPONSIVE */